/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  color: $base-color-text;
  background-color: $basic-white;
  margin: 0;
}
