/* здесь используйте глобальные переменные */
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;
$base-color-text: #444444;
$basic-green: #68b738;
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$special-light-grey: #eaeaea;
$special-dark-grey: #222222;
$basic-black: #000000;
$special-black: #111111;
