/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial Narrow", sans-serif;
$base-color-text: #444444;
$basic-green: #68b738;
$special-green: #5eaa2f;
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$special-grey: #666666;
$special-grey2: #6b6b6b;
$special-light-grey: #eaeaea;
$special-light-grey2: #ebebeb;
$special-dark-grey: #222222;
$special-dark-grey2:v#3e3e3e;
$basic-black: #000000;
$special-black: #111111;
$tablet-width: 768px;
