/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";
@import "./common/container.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-navigation.scss";
@import "./blocks/main.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/hero.scss";
@import "./blocks/button-link.scss";
@import "./blocks/button.scss";
@import "./blocks/programs.scss";
@import "./blocks/instructions.scss";
@import "./blocks/example.scss";
@import "./blocks/compare.scss";
@import "./blocks/contacts.scss";
@import "./blocks/address.scss";
@import "./blocks/map.scss";
@import "./blocks/social-list.scss";
@import "./blocks/academy-logo.scss";
@import "./blocks/primary-products.scss";
@import "./blocks/products-list.scss";
@import "./blocks/product-card.scss";
@import "./blocks/product-card-more.scss";
@import "./blocks/secondary-products.scss";
@import "./blocks/addons-list.scss";
@import "./blocks/addon-card.scss";
@import "./blocks/gift.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/subscribe-form.scss";

// styles.scss
