.academy-logo {
  text-decoration-line: none;
}

.academy-logo__text {
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
}

.academy-logo__image {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}
