.academy-logo {
  text-decoration-line: none;
  display: inline-flex;
  align-items: center;
}

.academy-logo::after {
  content: "";
  mask-image: url("../../icons/stack.svg#academy-logo");
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 27px;
  height: 34px;
  background-color: $special-grey;
  flex-shrink: 0;
}

.academy-logo:active {
  opacity: 0.3;
}

.academy-logo:hover::after,
.academy-logo:focus::after,
.academy-logo:active::after {
  background-color: $basic-green;
}

.academy-logo__text {
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
}
