.addon-card {
  display: grid;
  grid-template: "title title" "quantity price" "button button" / 1fr auto;
  max-height: 130px;
  border-bottom: 1px solid $special-light-grey3;
  padding: 13px 0 18px;
  align-content: start;
}

.addon-card:first-child {
  border-top: 1px solid $special-light-grey3;
}

.addon-card__title {
  grid-area: title;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
  margin-bottom: 13px;
}

.addon-card__quantity {
  grid-area: quantity;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

.addon-card__price {
  grid-area: price;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}

.addon-card__button {
  grid-area: button;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .addon-card {
    border-left: 1px solid $special-light-grey3;
    border-right: 1px solid $special-light-grey3;
    grid-template: "title quantity price" "button button button" / 1fr auto 93px;
    min-height: 139px;
    padding: 24px 37px 28px;
    min-height: 139px;
  }

  .addon-card__title {
    font-size: 20px;
    line-height: 20px;
    margin-left: 1px;
    margin-bottom: 25px;
  }

  .addon-card__quantity {
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
    margin-right: 1px;
    text-align: right;
  }

  .addon-card__price {
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
    margin-right: 3px;
  }
}

@media (min-width: $desktop-width) {
  .addon-card {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $special-light-grey3;
    grid-template: "title quantity price button" / 325px auto 82px 244px;
    min-height: 72px;
    padding: 0;
  }

  .addon-card__title {
    margin-top: 25px;
  }

  .addon-card__quantity,
  .addon-card__price {
    text-align: left;
    margin-top: 28px;
  }

  .addon-card__button {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
