.addon-card {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.addon-card__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.addon-card__quantity {
  font-size: 14px;
  line-height: 14px;
}

.addon-card__price {
  font-size: 14px;
  line-height: 14px;
}

.addon-card__button {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
