.address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.address__street {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.address__city {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
