.compare {

}

.example__compare {

}

.compare__images {

}

.compare__image-wrapper {

}

.compare__image-wrapper--before {

}

.compare__image-wrapper--after {

}

.compare__image {

}

.compare__slider {

}

.compare__handle {

}
