.compare {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.example__compare {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.compare__images {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.compare__image-wrapper {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.compare__image-wrapper--before {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.compare__image-wrapper--after {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.compare__image {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.compare__slider {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.compare__handle {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}
