.compare {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.example__compare {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.compare__images {
  display: flex;
  position: relative;
  width: 280px;
  height: 256px;
}

.compare__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.compare__image-wrapper--before {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.compare__image-wrapper--after {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.compare__image {
  display: block;
}

.compare__handle {
  position: absolute;
  border: none;
  padding: 0;
  background-color: $special-grey;
  border-radius: 2px;
  width: 4px;
  height: 256px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: ew-resize;
}

.compare__handle:hover {
  background-color: $basic-green;
}

.compare__handle:active {
  background-color: $special-green;
  opacity: 0.6;
}

.compare__thumb {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  fill: $special-grey;
}

.compare__thumb:hover {
  fill: $basic-green;
}

.compare__thumb:active {
  fill: $special-green;
}

@media (min-width: $tablet-width) {
  .compare__images {
    width: 560px;
    height: 512px;
  }

  .compare__handle {
    height: 512px;
  }
}
