.contacts {
  min-height: 474px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts--background {
  background-color: $basic-grey;
}

.contacts__wrapper {
  width: $mobile-width;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
  margin: 0;
}

.contacts__address {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.contacts__map {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

@media (min-width: $tablet-width) {
  .contacts {
    min-height: 600px;
  }

  .contacts__wrapper {
    width: $tablet-width;
    padding: 60px 70px;
    display: flex;
    justify-content: space-between;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-height: 400px;
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: $basic-white;
    width: 565px;
    min-height: 199px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 78px;
    display: flex;
    justify-content: space-between;
  }
}
