.contacts {
  min-height: 474px;
  background-color: $basic-grey;
}

.contacts--background {
  background-color: $basic-white;
}

.contacts__container {
  width: $mobile-width;
  margin: 0 auto;
  padding: 26px $side-padding-mobile;
}

.contacts__data {
  display: flex;
  background-color: $basic-white;
  min-height: 112px;
}

.contacts__data--background {
  background-color: $basic-grey;
}

.contacts__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
  margin: 0;
  min-width: 140px;
}

@media (min-width: $tablet-width) {
  .contacts {
    min-height: 600px;
  }

  .contacts__container {
    width: $tablet-width;
    margin: 0 auto;
    padding: 60px 70px;
  }

  .contacts__data {
    justify-content: space-between;
    min-height: 200px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    max-width: 164px;
    margin-top: 1px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-height: 400px;
    position: relative;
  }

  .contacts__container {
    width: 565px;
    margin: 0;
    padding: 60px 78px 60px 80px;
  }

  .contacts__data {
    position: absolute;
    top: 95px;
    left: 110px;
    min-height: 199px;
    gap: 86px;
    justify-content: start;
  }

  .contacts__title {
    margin-top: 1px;
  }

  .contacts--background {
    background-color: $basic-grey;
  }

  .contacts__data--background {
    background-color: $basic-white;
  }
}
