.contacts {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.contacts__wrapper {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.contacts__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
}

.contacts__address {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.contacts__map {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}
