.contacts {

}

.contacts__wrapper {

}

.contacts__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
}

.contacts__address {

}

.contacts__map {

}
