.example {
  background-color: $special-light-grey;
}

.example__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
}

.example__stats {

}

.example__group {

}

.example__term {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $basic-black;
}

.example__definition {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0;
}

.example__costs {

}

.example__label {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
}

.example__value {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
}
