.example {

}

.example__title {

}

.example__description {

}

.example__stats {

}

.example__group {

}

.example__term {

}

.example__definition {

}

.example__costs {

}

.example__label {

}

.example__value {

}
