.gift {
  text-align: center;
  background-color: $basic-green;
  background-repeat: no-repeat;
  background-position: top 59px center;
  background-image: url("../../icons/stack.svg#gift");
  background-size: 78px 81px;
  min-height: 290px;
  padding-top: 187px;
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .gift {
    text-align: left;
    background-position: top 57px left 77px;
    min-height: 200px;
    padding-top: 71px;
    padding-left: 421px;
    padding-right: 125px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    text-align: center;
    background-position: top 56px center;
    width: 245px;
    min-height: 288px;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 185px;
  }
}
