.gift {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;
}
