.gift {
  background-color: $basic-green;
  text-align: center;
}

.gift::before {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/stack.svg#gift");
  background-size: 78px 81px;
  width: 78px;
  height: 81px;
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
}
