.hero {
  background-image: linear-gradient(to bottom, $basic-green 63%, $basic-white 63%, $basic-white 100%);
  font-family: $secondary-font;
  color: $basic-white;
  min-height: 480px;
}

.hero__container {
  margin-bottom: 20px;
}

.hero__link {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.hero__image {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: none;
    background-color: $basic-white;
    font-family: $secondary-font;
    color: $basic-black;
    min-height: 875px;
  }

  .hero__container {
    margin-bottom: 0;
    position: relative;
    min-height: 875px;
  }

  .hero__image {
    width: 709px;
    height: 609px;
    position: absolute;
    z-index: 1;
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 90px;
    max-width: 420px;
    padding-top: 65px;
  }

  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-left: 90px;
  }

  .hero__link {
    padding: 14px 24px;
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    margin-left: 90px;
    position: absolute;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    min-height: 694px;
    background-image: linear-gradient(to right, $basic-white 50%, $basic-green 50%, $basic-green 100%);
  }

  .hero__container {
    margin-bottom: 82px;
    min-height: 694px;
  }

  .hero__image {
    width: 552px;
    height: 499px;
    top: 143px;
    left: calc(50% - 165px);
  }

  .hero__title {
    margin-left: 80px;
    padding-top: 224px;
  }

  .hero__slogan {
    margin-left: 80px;
  }

  .hero__link {
    margin-left: 80px;
  }
}
