.instructions {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.instructions__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.instructions__list {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.instructions__item {
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}

.instructions__item--nutrients {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.instructions__item--preparation {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.instructions__item--replacement {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.instructions__item--progress {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}
