.instructions {

}

.instructions__title {

}

.instructions__list {

}

.instructions__item {

}

.instructions__item--nutrients {

}

.instructions__item--preparation {

}

.instructions__item--replacement {

}

.instructions__item--progress {

}
