.instructions {

}

.instructions__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.instructions__list {

}

.instructions__item {
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}

.instructions__item--nutrients {

}

.instructions__item--preparation {

}

.instructions__item--replacement {

}

.instructions__item--progress {

}
