.instructions {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.instructions__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.instructions__list {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.instructions__item {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.instructions__item::before {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}

.instructions__item--nutrients::before {
  background-image: url("../../icons/stack.svg#nutrients-mobile");
}

.instructions__item--preparation::before {
  background-image: url("../../icons/stack.svg#preparation-mobile");
}

.instructions__item--replacement::before {
  background-image: url("../../icons/stack.svg#replacement-mobile");
}

.instructions__item--progress::before {
  background-image: url("../../icons/stack.svg#progress-mobile");
}
