.main-navigation {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__logo {
  display: inline-block;
}

.main-navigation__logo:hover {
  opacity: 0.8;
}

.main-navigation__logo:active {
  opacity: 0.6;
}

.main-navigation__logo-image {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__logo-image--catalog {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__list {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__item {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__item--current {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  text-decoration-line: none;
}

.main-navigation__toggle {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
