.main-navigation {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__logo {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__logo-image {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__list {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__item {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__item--current {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  text-decoration-line: none;
}

.main-navigation__toggle {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}
