.main {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.main__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
  margin-left: 20px;
}
