.main-navigation {
  display: flex;
  flex-direction: column;
  min-height: 65px;
}

.main-navigation__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-navigation__logo {
  display: inline-block;
}

.main-navigation__logo:hover {
  opacity: 0.8;
}

.main-navigation__logo:active {
  opacity: 0.6;
}

.main-navigation__logo-image {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__logo-image--catalog {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__list {
  display: block;
}

.main-navigation__item {
  text-align: center;
}

.main-navigation__item--current {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-navigation__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  text-decoration-line: none;
}

.main-navigation__link:hover {
  opacity: 0.6;
}

.main-navigation__link:focus {
  opacity: 0.3;
}

.main-navigation__toggle--closed {
  background-image: url("../../icons/stack.svg#hamburger");
  background-size: 24px 18px;
}

.main-navigation__toggle {
  width: 24px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  background-image: url("../../icons/stack.svg#close");
  background-size: 19px 20px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.main-navigation__toggle:hover,
.main-navigation__toggle:focus {
  opacity: 0.7;
}

.main-navigation__toggle:active {
  opacity: 0.5;
}

.main-navigation__toggle:disabled,
.main-navigation__toggle:disabled:hover,
.main-navigation__toggle:disabled:focus {
  pointer-events: none;
  cursor: default;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 75px;
  }

  .main-navigation__logo-image {
    width: 174px;
    height: 50px;
  }

  .main-navigation__list {
    display: flex;
    gap: 33px;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__item {
    text-align: left;
  }

  .main-navigation__link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    width: 100%;
    min-height: 114px;
    position: absolute;
    z-index: 1;
  }

  .main-navigation__logo-image {
    width: 202px;
    height: 59px;
  }

  .main-navigation__link {
    font-size: 20px;
    line-height: 30px;
    color: $basic-white;
  }
}
