.main-footer {
  background-color: $basic-grey;
}

.main-footer__logo {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.main-footer__logo-image {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}
