.main-footer {
  background-color: $basic-grey;
}

.main-footer__logo {
  display: inline-block;
}

.main-footer__logo:hover,
.main-footer__logo:focus {
  fill:#3e3e3e;
}

.main-footer__logo:active {
  fill: #6b6b6b;
}

.main-footer__logo-image {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
