.main-navigation {

}

.main-navigation__logo {

}

.main-navigation__logo-image {

}

.main-navigation__list {

}

.main-navigation__item {

}

.main-navigation__item--current {

}

.main-navigation__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  text-decoration-line: none;
}

.main-navigation__toggle {

}
