.main-footer {
  background-color: $basic-grey;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  min-height: 240px;
}

@media (min-width: $tablet-width) {
  .main-footer__container {
    flex-direction: row;
    min-height: 147px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__container {
    min-height: 169px;
  }
}

.main-footer__logo {
  display: inline-block;
  fill: $special-black;
}

.main-footer__logo:hover,
.main-footer__logo:focus {
  fill: $special-dark-grey2;
}

.main-footer__logo:active {
  fill: $special-grey2;
}

.main-footer__logo-image {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
