.main-header {
  border-bottom: 1px solid $special-light-grey6;
  overflow-x: hidden;
}

@media (min-width: $tablet-width) {
  .main-header {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header--index {
    margin-bottom: -114px;
  }
}
