.main {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.main__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .main__title {
    font-size: 60px;
    line-height: 60px;
  }
}
