.main-footer {
  background-color: $basic-grey;
}

.main-footer__logo {
  display: inline-block;
  fill: $special-black;
}

.main-footer__logo:hover,
.main-footer__logo:focus {
  fill: $special-dark-grey2;
}

.main-footer__logo:active {
  fill: $special-grey2;
}

.main-footer__logo-image {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
