.main-footer {
  background-color: $basic-grey;
  padding-top: 40px;
  padding-bottom: 20px;
  min-height: 240px;
}

.main-footer__container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.main-footer__logo {
  display: inline-flex;
  fill: $special-black;
  margin-bottom: 20px;
}

.main-footer__logo:hover,
.main-footer__logo:focus {
  fill: $special-dark-grey2;
}

.main-footer__logo:active {
  fill: $special-grey2;
}

.main-footer__logo-image {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

@media (min-width: $tablet-width) {
  .main-footer {
    min-height: 147px;
    padding-top: 56px;
    padding-bottom: 54px;
  }

  .main-footer__container {
    flex-direction: row;
  }

  .main-footer__logo {
    margin-bottom: 0;
    margin-right: 160px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    min-height: 169px;
    padding-top: 67px;
    padding-bottom: 65px;
  }

  .main-footer__logo {
    margin-right: 416px;
  }
}
