.map {
  display: block;
}

@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;
    height: 400px;
  }
}
