.map {
  border: none;
}

.map--interactive {
  width: 100%;
  display: none;
}

/* Картинка-фоллбэк в <object> */
.map--fallback {
  width: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: $tablet-width) {
  .map {
    height: 400px;
  }
}
