.map {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    height: 480px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1440px;
    height: 400px;
  }
}
