.map {
  display: block;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1440px;
    height: 400px;
  }
}
