.page {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.page__body {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}
