.page {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.page__body {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
