.primary-products {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.primary-products__wrapper {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}
