.primary-products {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.primary-products__wrapper {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
