.primary-products {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.primary-products__wrapper {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .primary-products__wrapper {
    width: $tablet-width;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .primary-products__wrapper {
    width: $desktop-width;
    padding: 0 110px;
  }
}

