.primary-products {
  overflow-x: hidden;
}

.primary-products__container {
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .primary-products__container {
    margin-bottom: 74px;
    padding-top: 81px;
  }
}

@media (min-width: $desktop-width) {
  .primary-products__container {
    margin-bottom: 71px;
  }
}
