.product-card-more {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.product-card-more__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $special-black;
}

.product-card-more__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.product-card-more__button {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
