.product-card-more {
  display: grid;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 207px;
  border-bottom: 1px solid $special-light-grey2;
}

.product-card-more__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $special-black;
  position: relative;
  padding-top: 53px;
  margin: 0;
}

.product-card-more__title::before,
.product-card-more__title::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: $special-light-grey5;
  left: 50%;
  top: 0;
}

.product-card-more__title::after {
  transform: rotate(90deg);
}

.product-card-more__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.product-card-more__button {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .product-card-more {
    border: 2px solid $basic-grey;
    width: 324px;
    min-height: 430px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .product-card-more__title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 110px;
  }

  .product-card-more__description {
    font-size: 16px;
    line-height: 18px;
  }

  .product-card-more__title::before,
  .product-card-more__title::after {
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .product-card-more {
    width: 245px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .product-card-more__title {
    padding-top: 150px;
  }
}
