.product-card {
  display: grid;
  min-height: 209px;
  border-bottom: 1px solid $special-light-grey2;
  padding-bottom: 25px;
}

.product-card__link {
  display: contents;
  text-decoration-line: none;
}

.product-card__link:hover {
  opacity: 0.8;
}

.product-card__link:focus {
  opacity: 0.6;
}

.product-card__link:active {
  opacity: 0.4;
}

.product-card__image {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
  grid-row: 1 / span 2;
}

@media (min-width: $tablet-width) {
  .product-card__image {
    width: 200px;
    height: 210px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__image {
    width: 169px;
    height: 210px;
  }
}

.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
}

.product-card__specs {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.product-card__spec {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.product-card__spec-name {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.product-card__spec-value {
  margin: 0;
}

.product-card__button {
  background-color: $basic-green; // Временное свойство, чтобы линтер не показывал ошибку
}
