.products-list {
  display: block;
}

@media (min-width: $tablet-width) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 142px 60px;
  }
}

@media (min-width: $desktop-width) {
  .products-list {
    gap: 143px 80px;
  }
}
