.product-card {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.product-card__link {
  text-decoration-line: none;
}

.product-card__image {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.product-card__specs {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.product-card__spec {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.product-card__spec-name {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.product-card__spec-value {
  margin: 0;
}

.product-card__button {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}
