.product-card-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-more__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $special-black;
  position: relative;
  padding-top: 53px;
  margin: 0;
}

.product-card-more__title::before,
.product-card-more__title::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: $special-light-grey5;
  left: 50%;
  top: 0;
  bottom: 23px;
}

.product-card-more__title::after {
  transform: rotate(90deg);
}

.product-card-more__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.product-card-more__button {
  background-color: $basic-grey; // Временное свойство, чтобы линтер не показывал ошибку
}
