.product-card {
  min-height: 209px;
  padding: 20px 0 25px;
  display: grid;
  grid-template: "image title" "image specs" "button button" / 140px 140px;
  position: relative;
  align-items: start;
}

.product-card::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: $special-light-grey2;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.product-card__image-link {
  display: block;
  grid-area: image;
}

.product-card__title-link {
  text-decoration-line: none;
  grid-area: title;
  margin: 2px 0 12px 1px;
  max-width: 80px;
}

.product-card__title-link:hover,
.product-card__image-link:hover {
  opacity: 0.8;
}

.product-card__title-link:focus,
.product-card__image-link:focus {
  opacity: 0.6;
}

.product-card__title-link:active,
.product-card__image-link:active {
  opacity: 0.4;
}

.product-card__image {
  display: block;
}

.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
  overflow-wrap: break-word;
}

.product-card__specs {
  grid-area: specs;
  margin-left: 1px;
  margin-bottom: 20px;
}

.product-card__spec {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: 70px 70px;
  align-items: start;
}

.product-card__spec-name {
  text-align: left;
  overflow-wrap: break-word;
}

.product-card__spec-value {
  text-align: right;
  overflow-wrap: break-word;
  margin: 0;
  margin-right: 1px;
}

.product-card__button {
  grid-area: button;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  align-self: end;
}

@media (min-width: $tablet-width) {
  .product-card {
    border: none;
    width: 324px;
    min-height: 430px;
    background-color: $basic-grey;
    display: grid;
    grid-template: "image" "title" "specs" "button";
    padding: 0 37px 40px;
  }

  .product-card::before {
    display: none;
  }

  .product-card__image {
    width: 200px;
    height: 210px;
  }

  .product-card__image-link {
    margin-top: -71px;
    margin-bottom: 16px;
    justify-self: center;
  }

  .product-card__title-link {
    margin: 4px 4px 14px 1px;
    max-width: 100%;
    display: grid;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    max-width: 140px;
    text-align: center;
    justify-self: center;
  }

  .product-card__title-extra {
    margin-left: 4px;
  }

  .product-card__spec {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    grid-template-columns: 125px 125px;
  }

  .product-card__button {
    max-width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .product-card__image {
    width: 169px;
    height: 210px;
  }

  .product-card__image-link {
    margin-bottom: 2px;
  }

  .product-card__specs {
    margin-left: 0;
  }

  .product-card__spec {
    grid-template-columns: 85px 84px;
    margin-top: 4px;
  }

  .product-card__button {
    max-width: 169px;
  }

  .product-card__title-link {
    display: grid;
  }
}
