.products-list {
  display: block;
}

@media (min-width: $tablet-width) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 60px;
    row-gap: 142px;
  }
}

@media (min-width: $desktop-width) {
  .products-list {
    column-gap: 80px;
    row-gap: 143px;
  }
}
