.product-card-more {

}

.product-card-more__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.product-card-more__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.product-card-more__button {

}
