.product-card {

}

.product-card__link {

}

.product-card__image {

}

.product-card__title {

}

.product-card__specs {

}

.product-card__spec {

}

.product-card__spec-name {

}

.product-card__spec-value {

}

.product-card__button {

}
