.programs {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.programs__list {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.programs__item {
  background-color: $basic-grey;
}

.programs__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic-black;
}

.programs__title::before {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.programs__title--slim::before {
  background-image: url("../../icons/stack.svg#slim-cat-mobile");
  background-size: 50px 53px;
  width: 50px;
  height: 53px;
}

.programs__title--muscle::before {
  background-image: url("../../icons/stack.svg#muscle-cat-mobile");
  background-size: 67px 50px;
  width: 67px;
  height: 50px;
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.programs__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  text-decoration-line: none;
}

.programs__link:active {
  opacity: 0.3;
}

.programs__link::after {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icons/stack.svg#arrow");
  background-size: 24px 11px;
  width: 24px;
  height: 11px;
}

.programs__link:hover::after,
.programs__link:active::after {
  background-image: url("../../icons/stack.svg#arrow-interactive");
  background-size: 32px 11px;
  width: 32px;
}
