.programs {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.programs__container {
  min-height: 552px;
}

.programs__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programs__data {
  max-width: 240px;
  padding-left: 20px;
  padding-right: 20px;
}

.programs__item {
  background-color: $basic-grey;
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 266px;
}

.programs__item--slim {
  background-image: url("../../icons/stack.svg#slim-cat");
  background-size: 50px 53px;
}

.programs__item--muscle {
  background-image: url("../../icons/stack.svg#muscle-cat");
  background-size: 67px 50px;
}

.programs__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
  min-height: 96px;
  padding-left: 71px;
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.programs__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  text-decoration-line: none;
}

.programs__link:active {
  opacity: 0.3;
}

.programs__link::after {
  display: inline-block;
  content: "";
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $basic-black;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-size: 24px 11px;
  width: 24px;
  height: 11px;
}

/* Стайлгайд не включает :focus. Решение, ориентированное на удобство пользователя: :focus не добавлять, чтобы стрелка не смещалась при фокусе с клавиатуры */
.programs__link:hover::after,
.programs__link:active::after {
  mask-image: url("../../icons/stack.svg#arrow-interactive");
  mask-size: 32px 11px;
  width: 32px;
}

@media (min-width: $tablet-width) {
  .programs__title {
    min-height: 137px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .programs__description {
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
  }

  .programs__link {
    font-size: 20px;
    line-height: 30px;
  }

  .programs__container {
    min-height: 774px;
  }

  .programs__list {
    gap: 30px;
  }

  .programs__data {
    max-width: 340px;
    padding-left: 52px;
    padding-right: 0;
  }

  .programs__item {
    background-position: right center;
    min-height: 372px;
  }

  .programs__item--slim {
    background-size: 200px 211px;
  }

  .programs__item--muscle {
    background-size: 268px 200px;
  }
}

@media (min-width: $desktop-width) {
  .programs__container {
    min-height: 374px;
  }

  .programs__list {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .programs__data {
    max-width: 570px;
    padding-left: 52px;
    padding-right: 52px;
  }

  .programs__item {
    background-position: left top;
    min-height: 374px;
  }

  .programs__item--slim {
    background-size: 100px 106px;
  }

  .programs__item--muscle {
    background-size: 134px 100px;
  }

  .programs__title {
    min-height: 186px;
    padding-left: 162px;
  }
}
