.programs {

}

.programs__list {

}

.programs__item {
  background-color: $basic-grey;
}

.programs__item--slim {

}

.programs__item--pro {

}

.programs__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic-black;
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}

.programs__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  text-decoration-line: none;
}
