.secondary-products {
  position: relative;
}

.secondary-products__gift {
  margin-bottom: 40px;
}

.secondary-products__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $basic-black;
  margin: 0;
  margin-bottom: 35px;
  margin-left: calc($side-padding-mobile + $container-margin-mobile);
  display: flex;
}

.secondary-products__title::before {
  content: "";
  background-color: $basic-green;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 0;
  right: calc(100% - $container-margin-mobile);
}

.secondary-products__title::after {
  content: "";
  background-color: $basic-green;
  height: 2px;
  flex: 1;
  margin-left: 40px;
  margin-top: 10px;
}

.secondary-products__addons {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .secondary-products__gift {
    margin-bottom: 80px;
  }

  .secondary-products__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 82px;
    margin-left: calc($side-padding-tablet + 40px + $container-margin-tablet);
  }

  .secondary-products__title::before {
    top: 14px;
    right: calc(100% - $container-margin-tablet - $side-padding-tablet);
  }

  .secondary-products__title::after {
    margin-top: 14px;
    margin-left: 40px;
  }

  .secondary-products__addons {
    margin-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .secondary-products__title {
    font-size: 40px;
    line-height: 40px;
    grid-area: title;
    margin-bottom: 80px;
    margin-left: calc($side-padding-desktop + $container-margin-desktop);
  }

  .secondary-products__title::before {
    top: 18px;
    right: calc(100% - $container-margin-desktop - 70px);
  }

  .secondary-products__title::after {
    margin-top: 18px;
    margin-left: 40px;
  }

  .secondary-products__addons {
    grid-area: addons;
    margin-bottom: 0;
    margin-right: 81px;
  }

  .secondary-products__gift {
    grid-area: gift;
    margin-bottom: 96px;
  }

  .secondary-products__container {
    display: grid;
    grid-template: "title title" "addons gift";
  }
}
