.secondary-products {

}

.secondary-products__wrapper {

}

.secondary-products__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $basic-black;
}

.secondary-products__gift {

}
