.secondary-products {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.secondary-products__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $basic-black;
  margin: 0;
  margin-bottom: 36px;
}

.secondary-products__addons {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.secondary-products__gift {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.secondary-products__container {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

@media (min-width: $tablet-width) {
  .secondary-products__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .secondary-products {
    min-width: 1220px;
  }

  .secondary-products__title {
    font-size: 40px;
    line-height: 40px;
    grid-area: title;
  }

  .secondary-products__addons {
    grid-area: addons;
  }

  .secondary-products__gift {
    grid-area: gift;
  }

  .secondary-products__container {
    display: grid;
    grid-template: "title title" auto "addons gift" auto / auto auto;
  }
}
