.social-list {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.social-list__item {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.social-list__link {
  position: relative;
  width: 28px;
  height: 22px;
  display: inline-flex;
}

.social-list__link::before {
  content: "";
  position: absolute;
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 28px;
  height: 22px;
  background-color: $special-grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-list__link:hover::before,
.social-list__link:focus::before {
  background-color: $basic-green;
}

.social-list__link:active::before {
  background-color: $basic-green;
  opacity: 0.3;
}

.social-list__link--vkontakte::before {
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.social-list__link--youtube::before {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social-list__link--telegram::before {
  mask-image: url("../../icons/stack.svg#telegram");
}


