.social-list {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.social-list__item {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.social-list__link {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.social-list__link--vkontakte {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.social-list__link--youtube {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}

.social-list__link--telegram {
  background-color: $basic-white; // Временное свойство, чтобы линтер не показывал ошибку
}
