.subscribe-form {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.subscribe-form__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.subscribe-form__input {
  color: $base-color-text;
  border: 1px solid $special-light-grey4;
}

.subscribe-form__input:hover {
  border: 1px solid $special-light-grey3;
}

.subscribe-form__input:focus {
  outline: 2px solid $base-color-text;
}

.subscribe-form__input:active {
  opacity: 0.7;
}

.subscribe-form__input:invalid {
  border: 2px solid $basic-red;
}

.subscribe-form__input:disabled,
.subscribe-form__input:disabled:hover,
.subscribe-form__input:disabled:focus {
  background-color: $special-light-grey4;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.subscribe-form__button {
  background-color: $basic-green; // Временное свойство, чтобы линтер не показывал ошибку
}

@media (min-width: $tablet-width) {
  .subscribe-form__wrapper {
    display: grid;
    grid-template-columns: 376px 256px;
    grid-template-rows: auto;
    gap: 0;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .subscribe-form__wrapper {
    grid-template-columns: 376px 256px;
  }
}
