.subscribe {
  font-family: $secondary-font;
  color: $basic-black;
  position: relative;
}

.subscribe__container {
  margin-bottom: 40px;
}

.subscribe__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-left: calc(20px + $container-margin-mobile);
  margin-right: calc(20px + $container-margin-mobile);
  margin-bottom: 32px;
  display: flex;
}

.subscribe__title::before {
  content: "";
  background-color: $basic-green;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 0;
  right: calc(100% - $container-margin-mobile);
}

.subscribe__title::after {
  content: "";
  background-color: $basic-green;
  height: 2px;
  flex: 1 0;
  margin-left: 40px;
  margin-top: 10px;
}

.subscribe__description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .subscribe__container {
    margin-bottom: 80px;
  }

  .subscribe__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
    margin-left: calc($side-padding-tablet + 40px + $container-margin-tablet);
  }

  .subscribe__title::before {
    top: 14px;
    right: calc(100% - $container-margin-tablet - $side-padding-tablet);
  }

  .subscribe__title::after {
    margin-top: 14px;
    margin-left: 40px;
  }

  .subscribe__description {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 632px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe__container {
    margin-bottom: 104px;
  }

  .subscribe__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 72px;
    margin-left: calc($side-padding-desktop + $container-margin-desktop);
  }

  .subscribe__title::before {
    top: 18px;
    right: calc(100% - $container-margin-desktop - 70px);
  }

  .subscribe__title::after {
    margin-top: 18px;
    margin-left: 40px;
  }

  .subscribe__description {
    margin: 0;
    margin-bottom: 24px;
    max-width: calc($desktop-width - $side-padding-desktop*2)
  }
}
