.subscribe {
  font-family: $secondary-font;
  color: $basic-black;
}

.subscribe__container {
  padding-bottom: 40px;
}

.subscribe__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.subscribe__description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .subscribe__container {
    padding-bottom: 104px;
  }

  .subscribe__title {
    font-size: 40px;
    line-height: 40px;
  }

  .subscribe__description {
    font-size: 24px;
    line-height: 32px;
  }
}
