.subscribe-form {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.subscribe-form__wrapper {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.subscribe-form__input {
  background-color: transparent; // Временное свойство, чтобы линтер не показывал ошибку
}

.subscribe-form__button {
  background-color: $basic-green; // Временное свойство, чтобы линтер не показывал ошибку
}
